* {
    box-sizing: border-box;
    xoutline: 1px solid rgba(0,0,0,0.1);
}

html {
    background-color:pink;
    font-size: 16px;
    line-height: 1.7;
}

body {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0.5rem 1.5rem 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

nav {
    ul {
        margin: 0 -0.2rem;
        padding-left: 0.5rem;
        background-color: mediumaquamarine;
        height: 2rem;
        line-height: 2rem;
    }
    
    @media (max-width: 40rem) {
        ul {
            margin: 0 -1.5rem;
            padding-left: 1rem;
        }
    }
    
    li {
        float: left;
        list-style-type: none;
    }
    
    a {
        display: inline-block;
        padding: 0 0.5rem;
        height: 2rem;
        line-height: 2rem;
    }
}

main {
    clear: both;
    padding-top: 2rem;
}
