---
#
---
* {
    box-sizing: border-box;
    xoutline: 1px solid #CCC;
}

html {
    font-family: Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Malgun Gothic, Verdana, Arial, Dotum, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #444;
    background-color: #FEFCFC;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main, footer, nav, .main-title {
    max-width: 40rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-title {
    padding-top: 6rem;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 3rem;
    font-weight: 100;
    color: #FFF;
    max-width: 40rem;
    margin: 0 auto;
    
    @media (max-width: 400px) {
        font-size: 2.5rem;
    }
}

header {
    background-color: hotpink;
}

nav {
    padding-top: 2rem;
    
    ul {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -0.5rem;
        padding-left: 0;
    }
    
    li {
        display: inline-block;
        list-style-type: none;
    }
    
    a {
        display: inline-block;
        padding: 0 0.5rem;
        height: 2rem;
        line-height: 2rem;
    }
}

main {
    border-top: 1px solid #FDD;
    border-bottom: 1px solid #FDD;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h2 {
        padding-bottom: 1.5rem;
    }
}

footer {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-size: 0.8rem;
    opacity: 0.6;
    line-height: 20px;
}

.buttons {
    padding: 2rem 0;
    text-align: center;
}
.button {
    padding: 0.8rem 1.6rem;
    color: #FFF;
    background-color: hotpink;
}
.button:hover {
    text-decoration: none;
    background-color: deeppink;
}