---
#
---
* {
    box-sizing: border-box;
    xoutline: 1px solid #CCC;
}

html {
    font-family: Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Malgun Gothic, Verdana, Arial, Dotum, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #444;
    background-color: #FEFCFC;
}

body {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-title {
    padding: 3rem 0 2rem;
    line-height: 1;
    font-size: 2rem;
}

nav {
    ul {
        margin: 0 0 0 -0.5rem;
        padding-left: 0;
        
    }
    
    li {
        display: inline-block;
        list-style-type: none;
    }
    
    a {
        display: inline-block;
        padding: 0 0.5rem;
        height: 2rem;
        line-height: 2rem;
    }
    a:hover {
    }
}

main {
    border-top: 1px solid #FDD;
    border-bottom: 1px solid #FDD;
    padding: 2rem 0;

    h2 {
        padding-bottom: 1.5rem;
    }
}

footer {
    padding: 0.5rem 0 0;
    font-size: 0.8rem;
    opacity: 0.6;
    line-height: 20px;
}

.buttons {
    padding: 2rem 0;
    text-align: center;
}
.button {
    padding: 0.8rem 1.6rem;
    color: #FFF;
    background-color: hotpink;
}
.button:hover {
    text-decoration: none;
    background-color: deeppink;
}